[submodule "CESAR2.0"]
	path = CESAR2.0
	url = https://github.com/hillerlab/CESAR2.0
    ignore = all
[submodule "bed2gtf"]
	path = bed2gtf
	url = https://github.com/alejandrogzi/bed2gtf.git
	branch = master
	ignore = all
